

/* Project Card - Buttons (Link to Project Page) */
.custom-arrow-btn{
    display: flex;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 100px;
    border: 1px solid var(--not-white);
    background: var(--not-white);
    text-decoration: none;
  }
  
  .project-back-btn{
    display: flex;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 100px;
    /* border: 1px solid var(--not-white); */
    background: var(--not-white);
    text-decoration: none;
  }
  
  .project-back-btn .icon-grey{
    color: #111111;
    font-size: 30px;
  }
  
  .project-back-btn:hover{
    transition: 0.3s all;
    transform: scale(1.08);
    z-index: 100;
  }
  /* Project Card - Buttons (Link to Project Page) - Set Icon to Dark Grey */
  .custom-arrow-btn .icon-grey{
    color: #111111;
    font-size: 30px;
  }
  