
/*Typography Styling*/

/*  Title - 66px */
.custom-title{
    color: var(--light-screen-white);
    font-family: Comfortaa;
    font-size: 56px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    text-wrap: nowrap;
    
}

.custom-sub-title{
    color: var(--light-screen-white);
    font-family: Comfortaa;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    white-space: wrap;
}

.custom-sub-title-2{
    color: var(--light-screen-white);
    font-family: Comfortaa;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    white-space: wrap;
}

/* Heading 1 - 24px - Bold */
.custom-h1{
    color: var(--just-white);
    font-family: Comfortaa;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

/* Body - 20px - Regular */
.custom-p{
    color: var(--bs-font-color);
    font-family: Comfortaa;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.custom-p-2{
    color: #ffffff;
    font-family: Comfortaa;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}


@media (min-width: 992px){
    /*Typography Styling*/

/*  Title - 66px */
.custom-title{
    color: var(--light-screen-white);
    font-family: Comfortaa;
    font-size: 72px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    
}

.custom-sub-title{
    color: var(--light-screen-white);
    font-family: Comfortaa;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    white-space: wrap;
}

.custom-sub-title-2{
    color: var(--light-screen-white);
    font-family: Comfortaa;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    white-space: wrap;
}

/* Heading 1 - 24px - Bold */
.custom-h1{
    color: var(--just-white);
    font-family: Comfortaa;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

/* Body - 20px - Regular */
.custom-p{
    color: var(--bs-font-color);
    font-family: Comfortaa;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.custom-p-2{
    color: #ffffff;
    font-family: Comfortaa;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}
}




/*  Nav Link - 14px */
.custom-nav-link{
    color: var(--not_white);
    display: flex;
    padding: 8px 16px !important;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 100px;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/*  Nav Link- Hover */
.custom-nav-link:hover{
    background: rgba(241, 241, 241, 0.28);
    transition: 0.2s ease-in-out;
    scale: 1.08;
}

/*  Nav Link- Hover */
.custom-nav-link.active{
    background: var(--not-white);
    color: var(--almost_dark, #000) !important;
}


