/*Custom CSS Styling*/

/*Default Gradient Colours*/
:root {
	--gradient-shadow: linear-gradient(
		45deg,
    #051937,
    #3182fb,
    #f4f8ff,
    #dcfff9,
    #c5fff5,
    #0affd6
	);
  --gradient-shadow: linear-gradient(
		45deg,
    #000000,
    #014b4e, 
    #007c68,
    #0affd6,
    #67beb0,
    #0affd6,
    #007c68,
    #014b4e
    
    
	);
}

/*Console Container - 100% vertical height*/
.console-container{
  display: flex;
  padding: 32px 0px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100vh;
}

/*Logo Hover Effect*/
.navbar-brand:hover{
  transition: 0.2s ease-in-out;
  scale: 1.08;
}

/*Navbar Height*/
.navbar-expand {
  min-height: 80px;
}

/*Disable Cursor Effect*/
/* .nav-link{
  cursor: none;
}

.logo{
  cursor: none;
}

.newClass {
  cursor: none;
}

.cursor-disabled{
  cursor: none;
} */

.modal-content{
  background:#000000d6;
}
/*Quick Action Menu - Gaps 16px*/
.quick-action-menu{
  display: flex;
  align-items: center;
}

/*Gradient Button - Initial Style*/
.gradient-btn{
  display: flex;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  min-width: 60px;
  height: 48px
}

/*Gradient Button - Default*/
.gradient-btn.glow{
  border-radius: 100px;
  background: radial-gradient(46.58% 100% at 49.08% 101.47%, rgba(146, 146, 146, 0.20) 0%, rgba(105, 105, 105, 0.20) 100%);
}

.gradient-btn.glow-dark{
  background: radial-gradient(46.58% 100% at 49.08% 101.47%, rgba(146, 146, 146, 0.64), rgba(105, 105, 105, 0.66));
}

.gradient-btn.glow-dark:hover{
  transition: 0.3s all;
  transform: scale(1.1);
  border-radius: 100px;
  background: radial-gradient(46.58% 100% at 49.08% 101.47%, rgba(182, 182, 182, 0.50) 0%, rgba(255, 255, 255, 0.50) 100%);
  box-shadow: 0px 2px 15px 0px rgba(255, 255, 255, 0.25);
  
  color: #111111;
}

.gradient-btn.glow2{
  border-radius: 100px;
  background: #ffffff;
  color: #000000;
  padding: 16px !important;
  min-width: unset;
  height: unset;
}

.gradient-btn.icon-grey{
  color: #111111;
  font-size: 48px;
}

.gradient-btn.custom-p{
  /* color: #4e4e4e; */
  /* font-size: 48px; */
}

.gradient-btn.glow2:hover{
  transition: 0.3s all;
  transform: scale(1.1);
  border-radius: 100px;
  background: radial-gradient(46.58% 100% at 49.08% 101.47%, rgba(182, 182, 182, 0.50) 0%, rgba(255, 255, 255, 0.50) 100%);
  box-shadow: 0px 2px 15px 0px rgba(255, 255, 255, 0.25);
  
  color: #111111;
}



/*Gradient Button - Glow Hover*/
.gradient-btn.glow:hover{
  transition: 0.3s all;
  transform: scale(1.1);
  border-radius: 100px;
  background: radial-gradient(46.58% 100% at 49.08% 101.47%, rgba(182, 182, 182, 0.50) 0%, rgba(255, 255, 255, 0.50) 100%);
  box-shadow: 0px 2px 15px 0px rgba(255, 255, 255, 0.25);
  color: #111111;
}

/* Gradient CSS - Background Effect (Cursor)*/
.blur-gradient {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 650px;
  height: 650px;
  border-radius: 100%;
  /* background: var(--gradient-shadow);
  background-size: 400%; */
  background-image: linear-gradient(#051937 50%, #0affd6);
  filter: blur(250px);
  transition: all 10ms ease-out;
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  transform: translate(calc(-50% + 15px), -50%);
  z-index: -10;
  animation: animate1 120s linear infinite;
}




@keyframes animate1 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 300% 0;
  }
  100% {
    background-position: 0 0;
  }
}

/*Text Position*/
.text { 
  position: relative;
}

/*Text Styling for Blinking Effect (Console)*/
.text::after {
  content: "";
  position: absolute;
  top: 0;
  right: -15px;
  /* Remove display: inline-block if not required to be on the same line as text etc */
  display: inline-block;
  background-color: #606060;
  vertical-align: top;
  width: 10px;
  /* Set height to the line height of .text */
  height: 30px;
  /* 
  Animation paramaters:
  blink = animation-name, 
  1s = animation-duration, 
  step-end = animation-timing-function,
  infinite = animation-iteration-count
  */
  -webkit-animation: blink 1s step-end infinite;
  animation: blink 1s step-end infinite;
}

/*Animation for Text Blinking Effect (Console)*/
@-webkit-keyframes blink {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@keyframes blink {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

/*Cursor*/
.cursor{
  top: 0px;
  left: 0px;
  position: fixed;
}

.dot{
  top: -20px;
  left: -20px;
  position: fixed;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  background-color: #ffffff36;
  /* border: 1px #f5f5f57c solid; */
  z-index: 9999;
  mix-blend-mode: multiply;
  pointer-events: none;
  will-change: transform;
  transform: scale(1);
  transition: 0.2s all;
  box-shadow:  0px 1px 8px 0px rgba(0, 0, 0, 0.5);
}

.drag-pointer{
  transition: 0.3s all;
  transform: scale(2);
}



/*Glowing Shadow Effect*/
.shadow {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	color: #fff;
	text-align: center;
	font-size: 50px;
	font-weight: bold;
  border-radius: 100px;
}

/*  Colours Override */
.p-overlay-grey{
  color: var(--overlay_grey, rgba(154, 154, 154, 0.50));
}

/*Work Section*/
.my_work{
  display: flex;
  padding: 80px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
  border-top: 1px solid var(--light_screen_white, rgba(255, 255, 255, 0.20));
}

/* Responsive layout - for project cards */
.list-display{
  display: flex;
  flex-direction: column;
}

@media(min-width: 992px){
  .list-display{
    display: flex;
    flex-direction: row;
  }
}

/*Project Card*/
.project-card{
  display: flex;
  padding: 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  align-self: stretch;
  border-radius: 32px;
  text-decoration: none;
  background: radial-gradient(79.7% 66.78% at 62.04% 79.9%, rgb(83 83 83 / 50%) 0%, rgba(39, 39, 39, 0.50) 100%);
}

/*Project Card - Content*/
.project-card-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}

/*Project Card - Hover*/
.project-card:hover{
  transition: 0.3s all;
  transform: scale(1.02);
  box-shadow: 0px 2px 15px 0px rgba(255, 255, 255, 0.25);
}

/*Project Card - Hover - Add Glowing Effect to Button*/
.project-card:hover .project-card-content .shadow:before,
  .shadow:after {
    content: "";
    position: absolute;
    background: var(--gradient-shadow);
    background-size: 400%;
    border-radius: 100px;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: animate 20s linear infinite;
  }
  
  .project-card:hover .project-card-content .shadow:after {
    filter: blur(12px);
    border-radius: 100px;
  }
  
  @keyframes animate {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 300% 0;
      filter: blur(12px);
    }
    100% {
      background-position: 0 0;
    }
  }

/* Project Card - Header - Set Layout */
.project-card-action{
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.header-work{

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: -48px;
}




.tags{
  display: flex;
  width: fit-content;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  height: fit-content;
  white-space: nowrap;
  position: absolute;
}

.project-header{
  padding: 56px 0;
  padding-top: 36px;
}

.project-headings{
  display: flex;
flex-direction: column;
/* justify-content: center;
align-items: center; */
align-self: stretch;
}

.project-brochure{
  max-width: 100%;
  position: absolute;
  border-radius: 32px;
}

.project-area{
  border-radius: 32px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.project-image{
  width: 100%;
}

.separator-desktop{
  display: none;
}

@media (min-width: 992px){
  .separator-desktop{
    display: unset;
  }
  
  .separator-mobile{
    display: none;
  }
}

.display-flex-down{
  display:flex;
  flex-direction: column;
}

.display-flex-right{
  display:flex;
  flex-direction: row;
}

.header-top{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  align-self: stretch;
  height: 108px;
}
.header-name{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: -64px;
  width: 550px;
  
}

.header-bg{
  display: flex;
  height: calc(100vh - 112px);

  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;
  align-self: stretch;
  margin-bottom: 112px;
}

.color-grey{
  color: #737373 !important;
}

.color-overlay{
  
  color: rgba(154, 154, 154, 0.20) !important;
}

.color-off-white{
  color: var(--just-white) !important;
}

.color-mist-grey{
  color: var(--mist-grey) !important;
}

.color-overlay-white{
  color: var(--light-screen-white) !important;
}

.color-orange{
  background: radial-gradient(46.58% 100% at 49.08% 101.47%, #AA5516 0%, #472D15 100%);
}

.color-blue{
  background: radial-gradient(46.58% 100% at 49.08% 101.47%, #1685AA 0%, #153E47 100%);
}

.color-purple{
  background: radial-gradient(46.58% 100% at 49.08% 101.47%, #7B16AA 0%, #3A1547 100%);
}

.disable-selection {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; 
}

img.portfolio-banner {
  width: 100%;
}

.portfolio-img{
  width: 100%;
}

.portfolio-banner{
  width: 768px;
  border-radius: 0;
}

.persona-banner{
  width: 100%;
  max-width: 768px;
  border-radius: 8px;
}


.colour-fill{
  border-radius: 32px;
  width: 100%;
  height: 24px;
  filter: drop-shadow(0px 5px 50px rgba(114, 114, 114, 0.15));
}


.modal-content{
  padding: 0; 
  margin: 0; 
  border: 0; 
  border-radius: 32px; 
  background: #1e1e1e; 
  padding: 32px; 
  display:flex; 
  align-items: center; 
  gap: 56px;
}

.portfolio-img{
  width: 100%;
  max-width: 311px;
  aspect-ratio: 3/4.5;
  object-fit: cover;
}

.portfolio-img-2{
  width: 100%;
  max-height: 600px;
  object-fit: cover;
  object-position: bottom;
}

.refine-card{
  min-height: 567px;
  margin-top: 64px;
  border-radius: 24px; 
  padding: 0 24px; 
  background: radial-gradient(79.7% 66.78% at 62.04% 79.9%, rgb(83 83 83 / 50%) 0%, rgba(39, 39, 39, 0.50) 100%);
}

.list-inline li{
  margin-bottom: 50px;
  overflow-wrap: anywhere;
}


.main-text{
  margin-left: 256px; 
  width: 490px;
}

.width-490{
  width: 490px;
}

.credits-copywriting{
  max-width: 567px; 
  text-align: center;
}

.desc-font{
  width: 640px; text-align: center;
}

.content-style{
  display:flex; flex-direction: column; justify-content:  center;
}

.image-center{
  display: flex; flex-direction: column; align-items: center;
}

.prototype-link{
  display: flex; gap: 24px;
}

.typo-font{
  padding-top: 24px; padding-left: 48px;
 }

 .content-hero{
  width:756px; overflow: hidden;
 }
@media (max-width: 991px){
  .overflow-mobile{
    overflow-x: hidden;
    position: relative;
  }
  
  
  .content-style{
    padding: 24px 0;
  }


  .main-text{
    margin-left: 175px; 
    width: 450px;
  }

  .width-490{
    width: 450px;
  }
  
  .remove-in-mobile{
    visibility: hidden;
  }
}


@media (max-width: 568px){
  .desc-font{
    width: 100%;
     text-align: center;
}
.typo-font{
  padding-left: unset;
 }
.prototype-link{
  flex-direction: column;
}
.overwrite-svg{
  width: 300px;
}

  .overflow-mobile{
    overflow-x: hidden;
  }
  
  .header-top{
    display: unset;
  }
  .main-text{
    margin-left: 0px; 
    padding-left: 40px;
    width: 100%;
  }

  .content-hero{
    width:100%; overflow: hidden;
  }
  .width-490{
    width: 390px;
  }
  
  .remove-in-mobile{
    visibility: hidden;
  }

  .mobile-margin{
    margin-bottom: 80px !important;
  }
  .email-wrap{
    overflow-wrap: break-word;
    text-align: center;
    width: 100%;
  }
  .credits-copywriting{
    padding: 0 20px;
    max-width: 567px; 
    text-align: center;
  }
}

